<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>itemマスタ登録確認画面</title>
</head>
<body>
    <h1>itemマスタ登録確認画面</h1>
    <a th:href="@{/}" href="../top/index.html">TOP画面へ</a>

    <form method="POST" th:action="@{regist}" action="./regist.html" th:object="${itemForm}">
        <div>
            <p>ID</p>
            <div th:text="*{id}"></div>
        </div>

        <div>
            <p>ITEM NAME</p>
            <div th:text="*{itemName}"></div>
        </div>

        <div>
            <p>PRICE</p>
            <div th:text="*{price}"></div>円
        </div>

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{itemName}" />
        <input type="hidden" th:field="*{price}" />

        <button type="submit">登録</button>
    </form>

</body>
</html>